    <div class="ui inverted menu">
        <a href="/" class="item"><i class="fas fa-exclamation"></i> SegFault</a>
        <a href="/users" class="item">Users</a>
        <a href="/devices" class="item">Devices</a>
        <a href="/locations" class="item">Locations</a>
        <a href="/organizations" class="item">Organizations</a>
<<<<<<< HEAD
        <button type = "submit" class="ui secondary button" id = "signOut" float = "right" > Sign Out </button>
       
    </div>

          
=======
        <a href="/events" class="item">Events</a>
        <a href="/transactions" class="item">Transactions</a>
        <a href="/trans_upload" class="item">Upload Transac File</a>
    </div>
>>>>>>> c279779c0670e8a42b99da4fe6ea7d346263537f
