    <div class="ui inverted menu">
        <a href="/" class="item"><i class="fas fa-exclamation"></i> SegFault</a>
        <a href="/devices" class="item">Devices</a>
        <a href="/locations" class="item">Locations</a>
        <a href="/events" class="item">Events</a>
        <a href="/organizations" class="item">Organizations</a>
        <button type = "submit" class="ui secondary button" id = "signOut" float = "right" > Sign Out </button>
       
    </div>

          