        <a href="/" id="spec-menu-item">Rollins Fundraising Portal</a>
        
    <div class="ui secondary pointing vertical inverted menu">
        <a href="/users" class="item">Users</a>
        <a href="/devices" class="item">Devices</a>
        <a href="/locations" class="item">Locations</a>
        <a href="/organizations" class="item">Organizations</a>
        <a href="/events" class="item">Events</a>
        <a href="/checkout" class="item">Checkout</a>
        <a href="/transactions" class="item">Transactions</a>
        <a href="/trans_upload" class="item">Upload Transac File</a>
        <span id="segfault-mark">SEGFAULT!</span>
        <span id="segfault-names">MEG CHLOE BRIAN FELIPE</span>
    </div>
