    <div class="ui inverted menu">
        <a href="/" class="item"><i class="fas fa-exclamation"></i> SegFault</a>
        <a href="/users" class="item">Users</a>
        <a href="/devices" class="item">Devices</a>
        <a href="/locations" class="item">Locations</a>
        <a href="/organizations" class="item">Organizations</a>
        <a href="/events" class="item">Events</a>
        <a href="/transactions" class="item">Transactions</a>
        <a href="/trans_upload" class="item">Upload Transac File</a>

    </div>