<% include partials/header %>


        <title>SegFault Home</title>
        
    </head>
    <body>
        
    <% include partials/navbar %>

    <h1>SegFault Home</h1>
    <div id="calendar"></div>
    
    <li><a href = "/register">Sign Up</a> </a></li>
    
<script>
    const events = <%- JSON.stringify(events, null, 2); %>
</script>



<% include partials/footer %>
