<% include partials/header %>


        <title>SegFault Home</title>
        
    </head>
    <body>

    <h1>HELLO WORLD HAHA</h1>
    
    <input type="text" name="location" placeholder="Enter Location Here">
    <button type="submit" value="Add">Add</button>
    <button type="submit" value="Remove">Remove</button>
    

<% include partials/footer %>

