<% include partials/header %>


        <title>SegFault Home</title>
        
    </head>
    <body>
        
    <% include partials/navbar %>

    <h1>SegFault Home</h1>
    <div id="calendar"></div>

<% include partials/footer %>
