<% include partials/header %>


        <title>RFP | Home</title>
        
    </head>
    <body>
        
    <% include partials/navbar %>

    <h1>Rollins Events Calendar</h1>
    <br>
    <div id="calendar"></div>
    
<script>
    const events = <%- JSON.stringify(events, null, 2); %>
</script>

<% include partials/footer %>
