<% include partials/header %>


        <title>SegFault Home</title>
        
    </head>
    <body>
        
    <% include partials/navbar %>

<<<<<<< HEAD
    <h1>SegFault Home</h1>

=======
>>>>>>> 17911a6a514caff12c6f7a627c0ed33e54a7e200
<% include partials/footer %>