<% include partials/header %>


        <title>SegFault | Locations</title>
        
    </head>
    <body>
        
<% include partials/navbar %>

    <center><h1>Locations</h1></center>
    
    <br>
    <br>
    
    <form action="/locations" method="POST">
        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <label>Name</label>
                    <input type="text" name="loc_Name" placeholder="Name">
                </div>
                
                <div class="field">
                    <input id="bottom" class="ui secondary button" type="submit" value="Add">
                </div>
                
            </div>
        </div>
    </form>
    
    <br>
    
    <table class="ui selectable inverted table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Locations</th>
                <th>Remove or Edit</th>
            </tr>
        </thead>
        
        <tbody>
            <% for(var i = 0; i < locations.length; i++){ %>
            <tr>
                <td><%= locations[i].loc_ID %></td>
                <td><%= locations[i].loc_Name %></td>
                <td>
                    <form action="/locations" method="POST">
                        <div class="ui form">
                            <div class="field">
                                <input type='hidden' name='loc_ID' value= <%=locations[i].loc_ID%> />
                                <input class="ui secondary button"  formaction="/removeLocations" type="submit" value="Remove">
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
        
        
    </table>
    

<% include partials/footer %>