<% include partials/header %>


        <title>SegFault | Login</title>

    </head>
    <body>


<div class="ui center aligned grid">
  <div class="column">
    <h1 class="ui image header">
        Log-in to your account
    </h1>
    
    <h2>
        <form method="get" class="ui large form">
          <div class="ui stacked secondary  segment">
            <div class="field">
              <div>
                <input type="text" id = "email" placeholder="E-mail address"> </input>
              </div>
            </div>
            <div>
              <div>
                <input type="password" id="password" placeholder="Password"></input>
              </div>
            </div>
            <br>
            <button class="ui fluid large black submit button btn-block mt-4" id="signIn">Login</button>
          </div>
        </form>
    </h2>
    
  </div>
</div>

    <% include partials/footer %>