<% include partials/header %>


        <title>SegFault | Login</title>

    </head>
    <body>
      

    <div class="ui center aligned grid">
      <div class="column" >
        <h1>
            Welcome to the Financial Event Management Portal!
        </h1>

      <div  class="ui inverted form">
        <form action = "/login" method = "POST" class="ui form">
          <input type = "text" name = "username" placeholder = "username">
          <br>
          <input type = "password" name = "password" placeholder = "password">
          <br>
          <button class="ui button">Log In</button>
        </form>
      </div>
      <a href="/register">Need to register? Click here!</a>
      </div> 
      
    </div>

    <% include partials/footer %>
    
 