<% include partials/header %>


        <title>SegFault | Login</title>
</head>
<body>

    <h1> Sign Up Form</h1>
    <div class="ui center aligned grid">
       <div class="ui inverted segment">
        <div class="ui inverted form">
          <div  class="ui inverted form">
        <form action= "/register" method = "POST">
        <input type = "text" name = "username" placeholder = "username">
        <br>
        <input type = "text" name = "password" placeholder = "password">
        <br>
        <div style="text-align:center">  
                <button class="ui button">Sign Up</button>
                <br>
                <a href="/login">Have an account? Log in!</a>
        </div>
         </form>
      </div>
      
      </div> 
      </div>
    </div>
    
    
 <% include partials/footer %>