
/*********/
/*GENERAL*/
/*********/

body {
    position: relative;
    background-color: rgb(150,150,170);
}

form {
    display: inline-block;
}

h1 {
    text-align: center;
}

i {
    margin: 0 8px;
}

table {
<<<<<<< HEAD
    width: 1000px !important;
    margin: 20px auto !important;
=======
    /*display: block;*/
    /*height: 550px;*/
    /*overflow-y: scroll;*/
   /* width: 1250px !important;*/
   /* margin: 25px auto !important;*/
>>>>>>> 0b7c85088585be6da6ca2469820373fc0d206ebe
}

input {
    display: block;
}

.add-form {
    width: 100% !important;
    margin: 20px auto !important;
}

.add-event-form {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.add-form div {
    justify-content: center;
}

#bottom {
    position: absolute;
    bottom: 0;
}