
/*********/
/*GENERAL*/
/*********/

body {
    position: relative;
    background-color: rgb(150,150,170);
}

form {
    display: inline-block;
}

h1 {
    text-align: center;
}

i {
    margin: 0 8px;
}

table {
    width: 1000px !important;
    margin: 20px auto !important;
}

input {
    display: block;
}

.add-form {
    width: 100% !important;
    margin: 20px auto !important;
}

.add-event-form {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.add-form div {
    justify-content: center;
}

#bottom {
    position: absolute;
    bottom: 0;
}